*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    width: 500px;
    height: 200px;
    flex-direction: column;
    background: chartreuse;
    border-bottom: 1px dotted white;
}