:root{

}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightblue;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: url('../fonts/OstrichSans-Bold.otf');
    font-weight: bold;
}

h1{
    font-family: 'Ostrich Sans'; 
}

p{

}