:root{

}

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: lightblue;
}

@font-face {
    font-family: 'Ostrich Sans';
    src: url('../fonts/OstrichSans-Bold.otf');
    font-weight: bold;
}

h1{
    /*font-family: 'Ostrich Sans';*/ 
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

li, 
p{
    font-family: Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.name{
    font-size: 1.1em;
}

.menu-icon{
    display: flex;
    height: 60px;
    width: 60px;
    background: white;
    border: 1px dashed black;
}
