@import "global.css";
@import "main.css";
@import "profile.css";
@import "projects.css";
@import "cv.css";
@import "mediaq.css";

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: fit-content;
    margin-bottom: 25px;
    background: lightblue;
    border: 1px dashed black;
}