@import "global.css";

main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    margin-bottom: 25px;
    background: lightblue;
    border: 1px dashed black;
}

.profile-img-placeholder{
    display: flex;
    height: 200px;
    width: 200px;
    background: red;
    border-radius: 100px;
    align-self: center;
    overflow: hidden;
}

.profile-img{
    position: relative;
    width: inherit;
    height: 100%;
    background: transparent url("../img/profile_image.png") no-repeat scroll 0% 0% / cover;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    top: -0.1%;
    left: -0.01%;
}

.skills-section{
    display: flex;
}

.skills-list{
    display: flex;
    flex-direction: row;
}

.skills-list ul{
    list-style: none;
    margin-left: 75px;
}

.splash-center ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}